@mixin font($family, $filePath, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src:
      url('#{$filePath}.woff') format('woff'),
      url('#{$filePath}.woff2') format('woff2'),
      url("#{$filePath}.ttf") format("truetype");

    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font('NT Somic', '/fonts/NT_somic/NTSomic-Regular', 400);
@include font('NT Somic', '/fonts/NT_somic/NTSomic-Medium', 500);
@include font('NT Somic', '/fonts/NT_somic/NTSomic-Bold', 700);


@include font('SF Pro Expanded', '/fonts/SF-ProExpanded/SF-ProExpanded', 400);
